accelerate==1.5.1
cairosvg==2.8.2
beautifulsoup4==4.13.3
chemprop==2.2.0
coral_pytorch==1.4.0
joblib==1.4.2
lightning==2.5.1.post0
matplotlib==3.10.3
networkx==3.4.2
numpy==2.0.0
optuna==4.2.1
pandas==2.2.3
openpyxl==3.1.5
plotly==5.24.1
rdkit==2025.3.5
Requests==2.32.3
scikit_learn==1.6.1
seaborn==0.13.2
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
umap_learn==0.5.7
xgboost==3.0.2

